
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=d63405c3a548fa2d167c2aef150ee24f
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
