.options-txt,
.video-icon-txt,
.video-h-txtarea,
.video-url-txt,
.adv-icon-txt,
.adv-h-txt,
.photo-edu-txt,
.ico-edu-txt,
.edu-text,
.ico-garanti-txt,
.ico-garanti-txt,
.design-pro-ico-txt,
.design-pro-text,
.our-clients-ico,
.our-clients-text,
.write-us-ico,
.write-us-text,
.rmore-ico,
.rmore-text,
.copyright-text,
.our-contacts-ico,
.our-contacts-text,
.our-contacts-lfet-text,
.our-contacts-right-text,
.our-contacts-right-img,
.social-vk-text,
.social-fb-text,
.social-twitter-text,
.social-gplus-text,
.social-mail-text,
.footer-menu1-text,
.footer-menu2-text,
.footer-menu3-text,
.footer-menu4-text,
.footer-menu5-text,
.first-slider-editor-text,
.second-slider-editor,
.garanti-text {
    width: 600px !important;
}

.edu-text, .garanti-text,
.our-contacts-lfet-text, .our-contacts-right-text,
.first-slider-editor-text, .second-slider-editor {
    height: 250px;
}

.options-txt img,
.video-icon-txt img,
.video-h-txtarea img,
.video-url-txt img,
.adv-icon-txt img,
.adv-h-txt img,
.photo-edu-txt img,
.ico-edu-txt img,
.edu-text img,
.ico-garanti-txt img,
.ico-garanti-txt img,
.design-pro-ico-txt img,
.design-pro-text img,
.our-clients-ico img,
.our-clients-text img,
.write-us-ico img,
.write-us-text img,
.rmore-ico img,
.rmore-text img,
.copyright-text img,
.our-contacts-ico img,
.our-contacts-text img,
.our-contacts-lfet-text img,
.our-contacts-right-text img,
.our-contacts-right-img img,
.social-vk-text img,
.social-fb-text img,
.social-twitter-text img,
.social-gplus-text img,
.social-mail-text img,
.footer-menu1-text img,
.footer-menu2-text img,
.footer-menu3-text img,
.footer-menu4-text img,
.footer-menu5-text img,
.first-slider-editor img,
.second-slider-editor img,
.garanti-text img {
    margin-left: 100px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}